page-home {

button{


    position: absolute;
    width:100%;
    top: 200px;
    


    margin:auto;
    
    margin-top:50vh;
    
}

.bg-image {
    //background-image: url('../assets/imgs/p5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
}
